/* ProductModal.css */
.align-right {
    display: flex;
    justify-content: flex-end!important;
  }
  /* ProductModal.css */
.custom-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product-image {
  width: 60%;
  border-radius: 25px;
  margin-bottom: 20px;
}
