#root {
  max-width: 100%;
  margin: 0;
  padding: 1rem;
  text-align: center;
}


.logo {
  height: 4em;
  padding: 0.5em;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: reduce) {
  a:nth-of-type(2) .logo {
    animation: none;
  }
}

@media (max-width: 767px) {
  body {
    zoom: 1 !important;
    transform: none !important;
  }
}


.read-the-docs {
  color: #888;
}
