#root {
  max-width: 100%; /* Mobil cihazlarda genişliği tam ekran yapar */
  margin: 0;
  padding: 1rem; /* Daha küçük bir iç kenar boşluğu */
  text-align: center; /* Metin sol kenara hizalanır */
}


.logo {
  height: 4em; /* Mobil cihazlarda daha küçük bir logo boyutu */
  padding: 0.5em; /* Daha küçük bir iç kenar boşluğu */
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: reduce) {
  a:nth-of-type(2) .logo {
    animation: none; /* Animasyonları devre dışı bırakır */
  }
}

.read-the-docs {
  color: #888;
}
